#header{overflow:hidden;}
#header h1{float:left;}
#header ul{margin:15px 10px 0 0;padding:0;float:right;}
#header ul li{padding:0;margin:0;list-style:none;float:left;border-right:1px solid #8db2e3;}
#header li.last{border:none;}
#header li a{display:block;padding:0 10px;color:#539ebd;}

/*From http://extjs-ux.org/repo/authors/mjlecomte/trunk/Ext/ux/window/msgWindow.html*/
.x-icon-error{background-image:url(/static/images/exclamation.gif) ! important;}
.x-icon-info{background-image:url(/static/images/information.gif) ! important;}
.x-notification .x-window-body{margin: 0;padding:1em ! important; width: auto ! important;}
.msg-over{color:#913049 !important;}

/*From http://extjs.com*/
#thumbnail-view {
    
}
#thumbnail-view dd {
    float:left;
    width:300px;
    height:100px;
    margin:5px 5px 5px 10px;
    cursor:pointer;
    zoom:1;
}
#thumbnail-view dd img {
    width:48px;
    height:48px;
    margin:5px 0 0 5px;
    float:left;
}

#thumbnail-view dd div {
    float:left;
    width:160px;
    margin-left:10px;
}

#thumbnail-view dd h4 {
    font-family:tahoma,arial,san-serif;
    color:#555;
    font-size:11px;
    font-weight:bold;
}
#thumbnail-view dd p {
    color:#777;
}
#thumbnail-view dd.over {
    background: #F5FDE3 url(shared/extjs/images/sample-over.gif) no-repeat;
}
#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading a {
    color:#225588;
}
#loading .loading-indicator{
    background:white;
    color:#444;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
}
#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}

#thumbnail-view .x-panel-body {
    background-color:#fff;
    border:1px solid;
    border-color:#fafafa #fafafa #fafafa #fafafa;
}
#sample-ct {
    border:1px solid;
    border-color:#dadada #ebebeb #ebebeb #dadada;
    padding:2px;
}

#thumbnail-view h2 {
    border-bottom: 2px solid #99bbe8;
    cursor:pointer;
    padding-top:6px;
}
#thumbnail-view h2 div {
    background:transparent url(../resources/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;
    padding:4px 4px 4px 17px;
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}
#thumbnail-view .collapsed h2 div {
    background-position: 3px 3px;
}
#thumbnail-view .collapsed dl {
    display:none;
}
.x-window {
    text-align:left;
}